{% extends 'core/base.html' %}
{% load static %}
{% block title %}Sessions{% endblock title %}
{% block content %}
    {% if sessions %}
        {% for session in sessions %}
            <div>
                {{session.center_id}} {{session.name}} {{session.address}} {{session.state_name}}
                {{session.block_name}} {{session.pincode}} {{session.from}} {{session.to}}
                {{session.lat}} {{session.long}} {{session.fee_type}} {{session.session_id}}
                {{session.date}} {{session.available_capacity}} {{session.fee}} {{session.min_age_limit}}
                {{session.vaccine}}
                {% for slot in session.slots %}
                    {{slot}}
                {% endfor %}
            </div>
        {% endfor %}`
    {% else %}
        <h1>Not Found</h1>
    {% endif %}
{% endblock content %}